@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

:root {
  --background: white;
  --color-bg-primary: #cff6ff;
  --color-primary: #242c5b;
  --color-secondary: #00033d;
  --color-tertiary: #0e227a;
  --color-quaternary: #1957c4;
  --foreground: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --color-bg-primary: #1a2a32;
    --color-primary: #7f9cf5;
    --color-secondary: #5c6ac4;
    --color-tertiary: #a5b4fc;
    --color-quaternary: #bfc8fd;
    --foreground: white;
  }
}

@theme {
  --color-bg-primary: var(--color-bg-primary);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-quaternary: var(--color-quaternary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

button {
  background-color: var(--background);
  border: 1px solid var(--foreground);
  border-radius: 2rem;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 1.5rem 0;
  padding: 0.7rem 2rem;
  text-transform: uppercase;
}

button:hover {
  background: var(--color-bg-primary);
}

button:active {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

p {
  color: var(--color-primary);
  margin-bottom: 1rem;
}
