@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --nav-color: #00033d;
  --nav-color-hover: #7dd3fc;
  --nav-color-active: #00033d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --nav-color: #7dd3fc;
    --nav-color-hover: #ffffff;
    --nav-color-active: #7dd3fc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

nav a {
  margin-inline: 0.3rem;
  color: var(--nav-color);
  text-transform: uppercase;
}

nav a:hover {
  color: var(--nav-color-hover);
}
