@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

:root {
  --background: white;
  --button-shadow: rgba(0, 0, 0, 0.2);
  --color-bg-primary: #cff6ff;
  --color-primary: #242c5b;
  --color-secondary: #00033d;
  --color-tertiary: #0e227a;
  --color-quaternary: #1957c4;
  --foreground: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --button-shadow: rgba(255, 255, 255, 0.8);
    --color-bg-primary: #1a2a32;
    --color-primary: #7f9cf5;
    --color-secondary: #7c8cfb;
    --color-tertiary: #a5b4fc;
    --color-quaternary: #bfc8fd;
    --foreground: white;
  }
}

@theme {
  --color-bg-primary: var(--color-bg-primary);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-quaternary: var(--color-quaternary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

p {
  color: var(--color-primary);
  margin-bottom: 1rem;
}
